<tr>
  <th>Name</th>
  <th>Code</th>
  <th>
    <%= check_box_tag(:visit_all,
                      1,
                      false,
                      class: "visit-all",
                      data: {url: countries_visited_path},
        ) %>
    Visited?
  </th>
</tr>
<% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.code %></td>
      <td><%= visited_checkbox_tag(country) %></td>
    </tr>
<% end %>
