<table id="countries_table">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Visited?</th>
  </tr>
  <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
        <td><%= check_box_tag(:visited, country.id, country.is_visited_by?(current_user)) %></td>
      </tr>
  <% end %>
</table>